@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.container-grid2 {
  display: grid;
  min-height: 100%;
  max-width: 1800px;
  margin: auto;
  padding-bottom: 3.7rem;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: min-content auto;
  grid-gap: 3px;
  position: relative;
  column-gap: 20px;
  row-gap: 20px;
}


.left_top {
  grid-area: 1 / 1 / 2 / 2;
  display:inline-grid;
  grid-template-columns: repeat(1, minmax(500px, 1fr));
  position: relative;
  box-shadow: 10px -7px 8px 3px #e4e8e6;
  row-gap: 20px;
}

.inner-grid{
  display: grid;
  grid-area: 2 / 1 / 3 / 2;

  max-width: 2200px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin-left: 10px;
  grid-gap: 3px;
  column-gap: 80px;
  row-gap: 30px;
  justify-items: start;

}

.part_problem{
  position: relative;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  grid-template-rows: 1fr 40px 25px;
  grid-template-columns: min-content;
  align-items: center;
}


#subgrid_title1{
  grid-area: 1 / 1 / 2 / 3;
  padding-bottom: 10px;
}

.percent{
  grid-area: 2 / 2 / 3 / 3;
}

#progress_bar1{
  grid-area: 2 / 1 / 4 / 2;
}

#part_problem_down{
  grid-area: 3 / 2 / 4 / 3;

}


.tko_place{
  display: grid;
  position: relative;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-rows: 1fr 40px 25px;

  align-items: center;
}

#subgrid_title2{
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}

#place_tko_top{
  grid-area: 2 / 1 / 3 / 2;
}

#place_tko_down{
  grid-area: 3 / 1 / 4 / 2;
}


.trash_car{
  display: grid;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  grid-template-rows: 1fr 40px 25px;
  align-items: center;
}


#subgrid_title3{
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}


#trash_car_down{
  grid-area: 2 / 1 / 3 / 2;
}


.tko_problem{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 50px 25px;
  position: relative;
}

#subgrid_title4{
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}

#problem_all{
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
}

#progress_line{
  grid-area: 3 / 1 / 4 / 2;
}

.tko_out{
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-rows: 1fr 50px 25px;
  position: relative;
}



#subgrid_title5{
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}

#day_month{
  grid-area: 2 / 1 / 3 / 2;
}


#day_mont_down{
  grid-area: 3 / 1 / 4 / 2;
}




.trash_message{
  display: grid;
  grid-area: 2 / 3 / 3 / 4;
  grid-template-rows: 1fr 50px 25px;
  position: relative;
}

#subgrid_title6{
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}

#message_icon{
  grid-area: 2 / 1 / 3 / 2;
}


.div_map{
  display: inline-grid;
  grid-area: 1 / 2 / 3 / 3;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
}


#map_button{
  marging-right:10px;
}

#color_legend{
  grid-area: 4 / 1 / 5 / 3;
  display:flex;
  justify-content: center;
  text-align: center;
  height: 50%;
  text-align: center;
}

#table_button{
  marging-left:3px;
}

#area_dropdown{
  grid-area: 2 / 1 / 3 / 2;
  width:60%;
  height:50%;

}

#map_table_button{
  grid-area: 2 / 2 / 3 / 3;
  height:50%;
}



#part{
  grid-area: 3 / 1 / 4 / 3;
  display:block;
}


#all{

  width: 100%;
  padding-right:5px;
}

#all > div.js-plotly-plot > div > div > svg:nth-child(1) > g.draglayer{
    cursor: crosshair;
}


#title_map{
  grid-area: 1 / 1 / 2 / 3;
}




#graph1_button{
  grid-area: 3 / 1 / 4 / 1;
  padding-top: 30px;
}

#inner_title{
  grid-area: 1 / 1 / 2 / 2;
  position:relative;
  padding-bottom: 15px;
  padding-top: 10px;
}



#subgrid1_text1{
  grid-area: 2 / 2 / 3 / 3;
}




#tko_place2{
  grid-area: 4 / 2 / 5 / 3;
}




.btn_activated{
  border-color: #00acc1;
  background-color: #00acc1;
  color: #ffffff;
  border-radius: 5px;
  height: 35px;
  justify-content: center;

}

.btn{
  border-color:#eaebed;
  background-color: #eaebed;
  color: #878c88;
  border-radius: 5px;
  height: 35px;
  justify-content: center;
}

.btn:hover{
    background-color: #00acc1;
}

.btn_activated: focus{
    background-color: #00acc1;
    box-shadow: none;
}



#graph{
  grid-area: 3 / 1 / 4 / 3;
  box-shadow: 4px -5px 7px 3px #e4e8e6;
  background-color: #f6f7fb;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  marging-left: 10px;
                   }

#text1{
  grid-area: 5 / 1 / 6 / 2;
}

#text2{
  grid-area: 6 / 1 / 7 / 2;
}

#text3{
  grid-area: 5 / 2 / 6 / 3;
}

#buttons_link{
  grid-area: 6 / 2 / 7 / 3;
}


#table{
  display: flex;
}

}





